h1 {
    background-color: rgba(0, 167, 167, 0.89);
    color: rgba(22, 22, 22, 0.71);

}
p{
color: rgba(76, 76, 76, 0.67);
}
 h3 {
     color: rgba(0, 0, 0, 0.75);
     text-align: center;
 }
 li {
     color: rgba(76, 76, 76, 0.67);

 }
 ul,li {
     text-align: center;
 }
footer {
    background-color: rgba(65, 65, 65, 0.49);
    padding: 5px;
    text-align: center;
    color: white;
}