nav {
    text-align: center;
}
article {
    display: inline-block;


}
h1{
    color: rgba(0, 112, 112, 0.87);
}
h3 {
    font-weight: bold;
}
header {
    background-color: rgba(98, 226, 212, 0.27);
    color: black;
    font-family: Serif
}
h2 {
    font-size: 70px;
    text-align: center;
    color: rgba(21, 21, 21, 0.44);

}
footer {
    background-color: #777;
    padding: 5px;
    text-align: center;
    color: white;
}

